<table class="table">
<td>
<h1>Edit user information</h1>


<%= form_for current_user, :url => { :action => :update } do |f| %>
    <% if current_user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in current_user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <p>
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :avatar%>
      <%= image_tag(current_user.avatar.thumb.url) if current_user.avatar? %>      <br />
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>

    <p>
      <strong>Topics</strong>
      <%= current_user.topics.count%>
    </p>

    <p>
      <strong>Posts</strong>
      <%= current_user.posts.count%>
    </p>

      <p>
        <strong>Rating</strong>
        <%= current_user.posts.sum(:rating)%>
      </p>






    <p><%= f.submit :class => "btn btn-primary" %></p>
<% end %>
    </td>
    <td>
      <h1>Change password</h1>

      <%= form_tag :action => 'change_pass'  do %>


          <p>
            <%= label_tag :old_password %><br />
            <%= password_field_tag :old_password %>
          </p>

          <p>
            <%= label_tag :new_password %><br />
            <%= password_field_tag :new_password %>
          </p>

          <p>
            <%= label_tag :new_password_confirmation %><br />
            <%= password_field_tag :new_password_confirmation %>
          </p>
          <p><%= submit_tag "Change password", :class => "btn btn-primary" %></p>

      <% end %>
    </td>
    <td>
     My bookmarks:
      <% current_user.bookmarks.each do |bookmark| %>
        <p>
          <%= link_to bookmark.topic.name, forum_topic_path(bookmark.topic.forum,bookmark.topic) %>
          <%= link_to 'Delete from bookmarks', [current_user,bookmark], :confirm => 'Are you sure?', :method => :delete %>
        </p>
      <%end%>
     <br>
      <br>
      <br>
      My notes:
      <% @notes.each do |note| %>
          <p>
            <%= note.body %>

          </p>
      <%end%>
    </td>
    <td>
      Complained posts:
    <% @complains.each do |post| %>
          <p><%= post.id %>
          <%= post.user.nickname %>
          <%= post.created_at.to_formatted_s(:short)%>    </p>
          <p><%= link_to post.body, forum_topic_path(post.topic.forum,post.topic) %> </p>
          <p><%= link_to 'Hide', hide_forum_topic_post_path(post.topic.forum,post.topic,post), method: :post %></p>
      <%end%>
    </td>

    </table>