%br
  %p
    - if @breadcrumbs
      - @breadcrumbs[0..-2].each do |txt, path|
        = link_to(h(txt), path)
        >
      = h(@breadcrumbs.last.first)
  %br
    %table.table
      %tr
        %th Name
        %th Author
        %th Last Reply
        %th Replies
        %th
        %th
      - @topics.each do |topic|
        %tr
          %td= link_to topic.name, forum_topic_path(@forum,topic)
          %td= link_to topic.user.nickname, topic.user
          %td
            = distance_of_time_in_words_to_now topic.posts.find(:last).created_at
            %br/
            ago by #{link_to topic.posts.find(:last).user.nickname, topic.posts.find(:last).user}
          %td= topic.posts.count - 1
          - if can? :update, topic
            %td= link_to 'Edit', edit_forum_topic_path(@forum,topic)
          - if can? :destroy, topic
            %td= link_to 'Destroy', [@forum,topic], :confirm => 'Are you sure?', :method => :delete
    %br/
    - if can? :create, Topic
      = link_to 'New Topic', new_forum_topic_path