<table class="table ">
  <tr>
  <th>
    <p>
      <% if @breadcrumbs %>
          <% @breadcrumbs[0..-2].each do |txt, path| %>
              <%= link_to(h(txt), path) %> >
          <% end %>
          <%= h(@breadcrumbs.last.first) %>
      <% end %>
    </p>
  </th>
  <th><%= form_tag forum_topic_path(@forum,@topic), :method => :get do %>
        <p>Search</p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Filter", :class => "btn btn-primary" %>
    <% end %>
  </th>
    <th>
      <%= form_tag user_bookmarks_path(current_user, :topic => @topic) do %>
          <%= submit_tag "Add to bookmarks", :class => "btn btn-primary" %>
      <%end%>
    </th>
  </tr>
</table>

<table class="table">
  <tr>
    <th width="300px">User</th>
    <th>Body</th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td>

          <p>
           <b> Nickname:<%= link_to post.user.nickname, post.user %> </b>
          </p>
          <p>
            <%= image_tag(post.user.avatar.thumb.url, :alt => "Avatar", :class => "avatar round") if post.user.avatar? %>
          </p>
          <div style="line-height: 4pt">
          <p>
            Role:
            <% if post.user.permission_level == 2 %>Admin<%end%>
            <% if post.user.permission_level == 1 %>Moderator<%end%>
            <% if post.user.permission_level == 0 %>User<%end%>  </p>
          <p> Registration date:
            <%= post.user.created_at.to_formatted_s(:long) %>
          </p>
          <p>
            Posts::
            <%= post.user.posts.count%>
          </p>
          </div>
        </td>
        <td>
          <p><%= post.created_at.to_formatted_s(:short) %></p>
          <p><%= post.body %> </p>
          <% if admin? || moderator? || owner?(post.user.id) %>
              <%= link_to 'Edit', edit_forum_topic_post_path(@forum,@topic,post) %>
          <%end%>
          <% if admin?%>
              <%= link_to 'Destroy', [@forum,@topic,post], :confirm => 'Are you sure?', :method => :delete %></td>
          <%end%>
      </tr>
  <% end %>
</table>

<%= will_paginate @posts %>

<% if @topic.closed? %>
    <% if admin?%>
        <%= link_to 'Reopen topic', :action => :open, :forum_id => @forum.id, :id => @topic.id  %>
    <%end%>
<% else %>
    <% if current_user %>
        <%= link_to 'Reply', new_forum_topic_post_path(:forum=>@forum.id, :topic_id=>@topic.id)%>
    <% else %>
        <%= link_to 'Reply', log_in_path%>
    <%end%>|
    <% if  admin? || moderator? || owner?(@topic.user.id) %>
          <%= link_to 'Close topic', :action => :close,  :forum_id => @forum.id, :id => @topic.id  %>  |
    <% end %>

<%end%>

<%= link_to 'Back', forum_topics_path %>

<% if admin? %>
    <%= form_for :topic, url: move_forum_topic_path(@topic) do |f| %>
        <%= f.collection_select :forum_id, @forums, :id, :name, {:include_blank => 'Please Select'} %>
        <%= f.submit "Move topic", class: "btn btn-primary" %>
    <% end %>
<%end%>




