<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if current_user %>
      <li>
        <%= link_to('All users', users_path) %>
      </li>

      <li>
        <%= link_to('Profile', profile_path) %>
      </li>
  <% else %>
      <li>
        <%= link_to "Sign up", sign_up_path %>
      </li>
  <% end %>
  <% if current_user %>
      <li>
        <%= link_to "Log out", log_out_path %>
      </li>
  <% else %>
      <li>
        <%= link_to "Log in", log_in_path %>
      </li>
  <% end %>
  <% if admin?%>  <li>
  <%= link_to('Create new admin', new_admin_path) %>
</li>
      <%end%>

  <li>
    Users online: <%= @counter %>
  </li>

</ul>



