= link_to "Home", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to('All users', users_path)
    %li
      = link_to('Profile', profile_path)
  - else
    %li
      = link_to "Sign up", new_user_registration_path
  - if user_signed_in?
    %li
      = link_to "Log out", destroy_user_session_path, method: :delete
  - else
    %li
      = link_to "Log in", new_user_session_path
  -if user_signed_in? && current_user.has_role?(:admin)
    %li
      = link_to 'Create new admin', new_admin_path
  %li
    Users online: #{counter}